/url/cache
/cache
/.emacs.desktop
/.emacs.desktop.lock
/auto-save-list
/.session
/session.*
/custom.el
*.elc
/tramp
/TODO
/elpa
/elpa-*
site-lisp/package/
/var
/.bookmarks.el
/history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ido.last
/recentf
/viper
/anaconda-mode/
/.historian
/.uptimes.el
/init.el~